#image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
#title {
    font-weight: bolder;
}
#country {
    font-size: 18px;
    color: #5964E0;
    font-weight: bolder;
}
#line {
    height: 20px;
}