/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgba(128, 128, 128, 0.107);
}

.lightMode{
    background-color: white;
    color: black;
}
.nightMode {
    background-color: black;
    color: white;
}