header {
    height: 180px;
    background-image: url(../assets/desktop/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;

}
input {
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
  }
#nightModeIcon , #dayModeIcon  {
    width: 20px;
    height: 20px;
}

#action {
    border-radius: 10px;
}
#search {
    background-color: #5964E0 ;
    padding: 15px 35px;
}

button {
    display: block;
}
